<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Band Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <a href='/reset'>Reset</a>
  <div class="container app-box">
    <%= yield %>
  </div>
</body>
</html>
